.add__task-modal::before{
    content: "helloabove";
    width: 100vw;
    height: 100vh;
     background-color: #000000;
     position: absolute;
     left:0;
     top: 0;
     z-index:-10;
     opacity: 0.5;
   }
   
   .add__task-modal{
     height:100vh;
     width: 100vw;
     display: flex;
     position:relative;
     justify-content: center;
     
     .form{
       padding: 24px;
       background-color: #ffffff;
       align-self:center;
       border-radius: 6px;
       width: 80%;
       max-width: 480px;
       
       .form__header{
         padding-bottom: 24px;
       }
       
       .form__heading{
          color: #828FA3;
         padding-bottom: 8px; 
       }
       
       .form__input{
         display: flex;
         flex-direction: column;
         gap: 8px; 
         padding-bottom: 24px;
       }
       
       .form__columns{
         display: flex;
         flex-direction: column;
       }
       
       .form__columns-list{
         display: flex;
         flex-direction: column;
         gap: 12px;
       }
       
       .form__columns-category{
         display: flex;
         gap: 16px; 
       }
       
       .form__column-input{
         padding: 8px 16px;
         border-radius: 4px;
         border: 1px solid rgba(130, 143, 163, 0.25);
       }
       
       .form__column--name{
          padding: 8px 16px;
         border-radius: 4px;
         border: 1px solid rgba(130, 143, 163, 0.25);
         flex: 3;
         list-style-type: none;
       }
       
       .form__delete{
         margin-left: auto;
       }
         
       .form__btns{
         display: flex;
         flex-direction: column;
         gap: 24px;
        padding-top: 12px;
         
         .btn{
           padding-top: 8px;
           padding-bottom: 8px;
           border-radius: 20px;
           border: none;
           
         }
         
         .primary-btn{
           background-color: #635FC7;
           color: #ffffff;
         }
         
   .secondary-btn{
         background-color: rgba(99, 95, 199, .1);
         color: #635FC7;
       }
       }
      
     }
    }   