@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
}
main {
  display: flex;
  padding: 0;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  border-left: 1px solid #e4ebfa;
  border-bottom: 1px solid #e4ebfa;
  width: 100%; 
  height: fit-content;
  
  .nav__buttons{
    padding-right: 24px;
  }
  
  #nav__logo{
      display:none; 
    }
  

  @media screen and (min-width: 768px){    
    #nav__logo{
      display:block; 
      padding: 28px 24px;
      border-right: 1px solid #E4EBFA;
    }
    }
  
  
  
  .nav__menu {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 16px;

    .nav__heading {
      font-size: 1.125rem;
      font-family: "Plus Jakarta Sans", serif;
    }
    @media screen and (min-width: 768px) {
      .nav__heading {
        font-size: 1.25rem;
      }
    }
  }
}

.sidemenu{
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    width: 100vw;
    padding: 0;
    height: fit-content;
    align-items: center;
  }
}
.primary-btn {
  background-color: #635fc7;
  color: #ffffff;
  border: none;
}

.nav__buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
}

.add-task-btn {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px 18px;
  border-radius: 24px;
}

@media screen and (min-width:768px){
  .add-task-btn {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0 18px;
  border-radius: 24px;
}

}

.platform__container {
  position: relative;
}

.platform {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 80px;
  color: #828fa3;
  background-color: #ffffff;
  max-width: 264px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: 700;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

  .platform__header {
    padding-left: 24px;
    padding-bottom: 18px;
  }

  .platform__heading {
    font-size: 0.75rem;
    line-height: 15px;
    letter-spacing: 2.4px;
    color: #828fa3;
  }

  .platform__list {
    padding-right: 24px;
    .platform__list-item {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 0.9375rem;
      line-height: 19px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 24px;
      border-radius: 0 100px 100px 0;
    }

    .platform__add {
      color: #635fc7;
    }

    path {
      fill: #828fa3;
      padding-left: 24px;
    }

    .active__path {
      fill: #ffffff;
      padding-left: 24px;
    }

    .create__path {
      fill: #635fc7;
    }
  }

  .view {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 14px 57px;
    margin: 16px 13px;
    background-color: #f4f7fd;
    border-radius: 6px;

    .view__toggle-btn {
      width: 40px;
      height: 20px;
      background-color: #635fc7;
      position: relative;
      border-radius: 12px;
      transition: all 500ms ease-in-out;
    }

    .view__toggle-btn::before {
      content: "";
      display: block;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: #000000;
      position: absolute;
      top: 10%;
      left: 25%;
      transform: translate(50%, -50%);
        transition: left 500ms ease-in-out; 

    }
    
    .view__toggle-btn.dark-active::before {
      left: 75%;
    }
  }
}

.sidemenu {
  position: relative;
  display: block;
  left: 0;
  transition: all 1000ms ease-in-out;
  width: 400px;
  height: 100%;
  padding-right: 23px;
  font-family: "Plus Jakarta Sans", serif;
  border-right: 1px solid #e4ebfa;

  .sidemenu__header {
    padding-top: 26px;
    padding-left: 32px;
    padding-bottom: 54px;
  }

  .sidemenu__platform {
    display: flex;
    flex-direction: column;
   height: 80vh;

    .sidemenu__platform-heading {
      font-size: 0.75rem;
      font-weight: 700;
      color: #828fa3;
      padding-left: 32px;
      padding-bottom: 19px;
      line-height: 15px;
      letter-spacing: 2.4px;
    }

    .sidemenu__list {
      .sidemenu__list-item {
        display: flex;
        align-items: center;
        padding-left: 32px;
        padding-top: 15px;
        padding-bottom: 15px;
        gap: 16px;
        border-radius: 0 100px 100px 0;
        line-height: 19px;
        font-weight: 700;
        font-size: 0.9375rem;
        color: #828fa3;
      }
      
      .active{
        background-color: #635fc7;
        color: #ffffff;
      }
       

        .sidemenu__add-item {
          color: #635fc7;
        }

        .list__path {
          fill: #828fa3;
        }

        .create__path {
          fill: #635fc7;
        }

        .active__path {
          fill: #ffffff;
        }
      }
    }

    .sidemenu__toggle-view {
      display: flex;
      padding: 16px 64px;
      background-color: #f4f7fd;
      margin-left: 32px;
      margin-top: auto;
      justify-self: end;
      border-radius: 6px;
      justify-content: center;
      gap: 24px;

      .view__toggle-btn {
        width: 40px;
        height: 20px;
        background-color: #635fc7;
        border-radius: 12px;
        position: relative;
      }

      .view__toggle-btn::before {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
      }
    }

    .sidemenu__toggle-hide {
      display: flex;
      margin-left: 32px;
      gap: 15px;
      padding: 15px 0;
    }
  }


.active {
  color: white;
  background-color: #635fc7;
}

.hide {
  display: none;
}

.sidemenu__hide {
/*   display: none; */
  width: 0;
  visibility: hidden;
  position: relative;
  transform: 1000ms ease-in-out all;
  left: -1000px;
  padding:0;
}

.toggle-dark-mode{
  background-color: black;

}
